<header class="header">
  <div class="nav-container">
    <div class="nav-logo">
   <img src="/Robin-I.png" width="50" height="50">

      <span class="logo-text">ROBIN</span>
      <span class="logo-badge">V1.0</span>
    </div>
    
    <nav class="navbar">
      <ul class="nav-list">
        <li><a href="#hero" class="nav-link">Home</a></li>
        <li><a href="#features" class="nav-link">Features</a></li>
        <li><a href="#installation" class="nav-link">Installation</a></li>
        <li><a href="#roadmap" class="nav-link">Roadmap</a></li>
      </ul>
    </nav>
    
    
  </div>
</header>
